
# Ignore all .txt files
*.txt


# ------------------------------------
# Go build files
# ------------------------------------
/bin/
/build/
/dist/
/out/
/coverage/
/tmp/

# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go modules
/go.sum
/vendor/

# Logs
*.log

# Dependency directories
pkg/
**/pkg/

# Local environment files
.env
*.local

# ------------------------------------
# IDE / Editor ignores
# ------------------------------------

# VSCode
.vscode/
.history/

# JetBrains IDEs (GoLand, IntelliJ IDEA, etc.)
.idea/
*.iml
out/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo
*.vim

# Emacs
*~
\#*\#
.\#*

# MacOS
.DS_Store

# Windows
Thumbs.db


# project
/[Tt]mp
/[Ll]ogs
/result


__debug_bin*


# ignore everything in assets
assets/*

# allow xray directory
!assets/xray/
assets/xray/xray*
assets/xray/configs
assets/xray/outbounds/*.json


# allow example files
!assets/xray/outbounds/*.example



#settings
settings/*.toml
ips/*.csv

